<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @hint.game %>
</p>

<p>
  <strong>Word:</strong>
  <%= @hint.word %>
</p>

<p>
  <strong>Num:</strong>
  <%= @hint.num %>
</p>

<p>
  <strong>Team:</strong>
  <%= @hint.team %>
</p>

<%= link_to 'Edit', edit_hint_path(@hint) %> |
<%= link_to 'Back', hints_path %>
