<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @guess.game %>
</p>

<p>
  <strong>Gamecard:</strong>
  <%= @guess.gamecard %>
</p>

<p>
  <strong>Team:</strong>
  <%= @guess.team %>
</p>

<%= link_to 'Edit', edit_guess_path(@guess) %> |
<%= link_to 'Back', guesses_path %>
