<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @game_card.game %>
</p>

<p>
  <strong>Card:</strong>
  <%= @game_card.card %>
</p>

<p>
  <strong>Type:</strong>
  <%= @game_card.type %>
</p>

<p>
  <strong>Address:</strong>
  <%= @game_card.address %>
</p>

<p>
  <strong>Chosen:</strong>
  <%= @game_card.chosen %>
</p>

<%= link_to 'Edit', edit_game_card_path(@game_card) %> |
<%= link_to 'Back', game_cards_path %>
